/*цвет фона*/
$yellowBg: #F8FF95;
$pinkBg: #E26EE5;
$purpleBg: #7E30E1;
$darkPurpleBg: #49108B;
/*размер шрифта*/
$headerFs: 28px;
$textFs: 18px;
$buttonFs: 14px;
$tableFs: 16px;
/*цвет шрифта*/
$yellowFc: #F8FF95;
$purpleFc: #7E30E1;
$darkPurpleFc: #49108B;
/*border-radius-15*/
$bR: 15px;
/*рамки*/
$buttonBorder: solid 1px $darkPurpleBg;
$cardBorder: solid 4px $purpleBg;
$textBorder: solid 3px $yellowBg;
$tableBorder: solid 2px $yellowBg;
/*шрифты*/
$header-text: "Russo One", sans-serif;
$table-text:  "Montserrat", sans-serif;
$button-text: "Russo One", sans-serif;


