.main {
  display: flex;
  align-items: center; /* Центрировать элементы по горизонтали */
  justify-content: center; /* Центрировать элементы по вертикали */
  min-height: 100vh; /* Занять всю высоту окна */
  padding: 20px; /* Внутренние отступы для основного контейнера */
}

.mainImg {
  width: 100%; /* Ширина изображения на всю ширину контейнера */
  max-width: 600px; /* Максимальная ширина изображения */
  height: auto; /* Авто высота для сохранения пропорций */
  margin-bottom: 20px; /* Отступ снизу от изображения до текста */
}

.text {
  font-size: 2rem; /* Размер текста */
  font-weight: bold; /* Жирный текст */
  text-align: center; /* Текст выравнивается по центру */
}
